* {
  box-sizing: border-box;
  max-width: 100%;
  border: 1px solid grey;
  overflow: hidden;
  font-family:sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
}
nav{
    text-align:center;
}
nav a {
  display: inline-block;
  margin: 3%;
  font-size: 2rem;
  padding: 2%;
  text-align: center;
  color: white;
  width:15%;
  border-radius:25%;
}
a.plan {
  background-color: #ff764e;
  /* width: 100%; */
}
a.learn {
  background-color: #5ed3eb;
}
a.get {
  background-color: #ffcd69;
}
.headimage {
  width: 25%;
  display: inline-block;
}
.headimage img {
  width: 50%;
  border-radius: 50%;
}
.firstsec h1 {
  font-size: 4rem;
  font-family: 'papyrus', Times, fantasy;
}
div{
    display:inline-block;
    text-align:center;
}
section {
    text-align:center;
}